In [1]:
import pandas as pd

import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\Rakshith\Downloads\Telegram Desktop\archive-1\Bengaluru_House_Data.csv")

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************

In [7]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [12]:
data['location']=data['location'].fillna('Sarjapur Road')

In [13]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [19]:
data['size']= data['size'].fillna('2 BHK')

In [20]:
data['bath']= data['bath'].fillna(data['bath'].median())

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [22]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [23]:
data[data.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [24]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
def convertRange(x):
    try:
        if '-' in x:
            temp = x.split('-')
            if len(temp) == 2:
                return (float(temp[0]) + float(temp[1])) / 2
        return float(x)  # if it's a single number string
    except:
        return None  # for any non-convertible strings

In [26]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)
data['bhk'] = data['bhk'].astype(float)
data['bath'] = data['bath'].astype(float)

In [27]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07  2.0
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00  4.0
2               Uttarahalli      3 BHK      1440.0   2.0   62.00  3.0
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00  3.0
4                  Kothanur      2 BHK      1200.0   2.0   51.00  2.0

In [28]:
#Price Per Square Feet

In [29]:
data['price'] = pd.to_numeric(data['price'], errors='coerce')
data = data.dropna(subset=['total_sqft', 'price'])  # drop rows where conversion failed

data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [30]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13274, dtype: float64

In [31]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13274.000000  13274.000000  13274.000000    1.327400e+04
mean    1559.626694      2.687359    112.453654      2.801718    7.907501e+03
std     1238.405258      1.336158    149.070368      1.291591    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [32]:
data['location'].value_counts()

Whitefield               538
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           271
Thanisandra              233
                        ...
BEML Layout 5th stage      1
Kannur                     1
singapura paradise         1
Uvce Layout                1
Abshot Layout              1
Name: location, Length: 1300, dtype: int64

In [33]:
data['location']= data['location'].apply(lambda x: x.strip())

location_count= data ['location'].value_counts()

In [34]:
location_count

Whitefield                            539
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        271
Thanisandra                           236
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: location, Length: 1289, dtype: int64

In [35]:
location_count_less_10= location_count[location_count<=10]

location_count_less_10

Kalkere                               10
Thyagaraja Nagar                      10
BTM 1st Stage                         10
Basapura                              10
Dodsworth Layout                      10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: location, Length: 1049, dtype: int64

In [36]:
data['location']=data['location'].apply(lambda x: "other" if x in location_count_less_10 else x)

In [37]:
data['location'].value_counts()

other              2877
Whitefield          539
Sarjapur  Road      399
Electronic City     304
Kanakpura Road      271
                   ...
Doddaballapur        11
Tindlu               11
Marsur               11
HAL 2nd Stage        11
Kodigehalli          11
Name: location, Length: 241, dtype: int64

In [38]:
#outlier detection and removal

In [39]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13274.000000  13274.000000  13274.000000    1.327400e+04
mean    1559.626694      2.687359    112.453654      2.801718    7.907501e+03
std     1238.405258      1.336158    149.070368      1.291591    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [40]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [41]:
data=data[((data['total_sqft']/data['bhk'])>=300)]

In [42]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [43]:
data.shape

(12530, 7)

In [44]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [45]:
def remove_outliers_sqft(df):

    df_output= pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        gen_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output= pd.concat([df_output,gen_df], ignore_index =True)
    return df_output

data=remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10302.000000  10302.000000  10302.000000  10302.000000    10302.000000
mean    1508.585392      2.472044     91.294983      2.575325     5659.095970
std      880.774066      0.980018     86.343018      0.898664     2265.667258
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.994224
50%     1286.000000      2.000000     67.000000      2.000000     5175.792088
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [46]:
def bhk_outlier_remover(df):
    exclude_indices=np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats={}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = { 
                'mean': np.mean(bhk_df.price_per_sqft), 
                'std': np.std(bhk_df.price_per_sqft), 
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats=bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
               exclude_indices=np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis= 'index')

In [47]:
data=bhk_outlier_remover(data)

In [48]:
data.shape

(7348, 7)

In [49]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,428.0,4.0,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,194.0,3.0,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,235.0,3.0,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,130.0,3.0,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,148.0,2.0,11983.805668
...,...,...,...,...,...,...,...
10293,other,2 BHK,1200.0,2.0,70.0,2.0,5833.333333
10294,other,1 BHK,1800.0,1.0,200.0,1.0,11111.111111
10297,other,2 BHK,1353.0,2.0,110.0,2.0,8130.081301
10298,other,1 Bedroom,812.0,1.0,26.0,1.0,3201.970443
10301,other,4 BHK,3600.0,5.0,400.0,4.0,11111.111111

In [51]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [52]:
#Cleaned data

In [53]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0  4.0
1  1st Block Jayanagar      1630.0   3.0  194.0  3.0
2  1st Block Jayanagar      1875.0   2.0  235.0  3.0
3  1st Block Jayanagar      1200.0   2.0  130.0  3.0
4  1st Block Jayanagar      1235.0   2.0  148.0  2.0

In [55]:
data.to_csv("Cleaned_data1.csv")

In [56]:
X=data.drop(columns=['price'])
y=data ['price']

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [58]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=0)

In [59]:
print(X_train.shape)

print(X_test.shape)

(5878, 4)
(1470, 4)

In [60]:
#Applying Linear Regression

In [76]:
X_train['bhk'] = X_train['bhk'].astype(float)
X_train['bath'] = X_train['bath'].astype(float)
X_test['bhk'] = X_test['bhk'].astype(float)
X_test['bath'] = X_test['bath'].astype(float)


# Column transformer
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['location']),
    remainder='passthrough'
)

# Scaler
scaler = StandardScaler()

# Linear Regression without normalize
lr = LinearRegression()

# Pipeline
pipe = make_pipeline(column_trans, scaler, lr)

# Fit the model
pipe.fit(X_train, y_train)

# Predict
y_pred_lr = pipe.predict(X_test)
r2_score(y_test, y_pred_lr)
# R² Score
print("R² Score:", r2_score(y_test, y_pred_lr))

R² Score: 0.8547545857245149

In [77]:
#Applying Lasso

In [78]:
lasso=Lasso()

In [79]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [80]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [81]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test, y_pred_lasso)

0.8456856853758571

In [82]:
ridge=Ridge()

In [83]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [84]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [85]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8547121316868362

In [86]:
print("No Regularization:",r2_score(y_test, y_pred_lr))
print("Lasso:",r2_score(y_test, y_pred_lasso))
print("Ridge:",r2_score(y_test, y_pred_ridge))

No Regularization: 0.8547545857245149
Lasso: 0.8456856853758571
Ridge: 0.8547121316868362

In [87]:
import pickle

In [88]:
pickle.dump(pipe,open('RidgeModel2.pkl','wb'))

In [90]:
pickle.dump(X['location'].unique().tolist(), open('locations.pkl', 'wb'))

In [89]:
import os
print(os.getcwd())

C:\Users\Rakshith